In [3]:
import pandas as pd
import pandas_profiling
import numpy as np
import math
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from datetime import date, datetime
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
plt.style.use("seaborn")
sns.set(style="white")

## Lectura y exploraci√≥n

In [4]:
df_movies = pd.read_csv("./data/movies.csv")
df_train = pd.read_csv("./data/ratings_train.csv")
df_test = pd.read_csv("./data/ratings_test.csv")

In [5]:
#from sklearn.metrics import mean_squared_error
#mean_squared_error(valor_real, valor_predicho)
# llenar rating en test
# entregar el de 80 mil
df_movies.head()

   id                        title  year
0   1                    Toy story  1995
1   2                      Jumanji  1995
2   3               Grumpy Old Men  1993
3   4            Waiting to Exhale  1995
4   5  Father of the Bride Part II  1995

In [6]:
df_train.head()

,ID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second
0,1,608,5.0,17,9,1997,23,40,20
1,2,141,4.0,17,9,1997,23,41,58
2,3,1073,4.0,17,9,1997,23,41,6
3,4,356,4.0,17,9,1997,23,43,44
4,5,1198,5.0,17,9,1997,23,44,35

## Modelo Lineal

In [23]:
model = LinearRegression()

In [24]:
X_train, X_test, y_train, y_test =\
    train_test_split(df_train.drop(['rating', 'ID'], axis=1), df_train.rating, test_size=0.3, random_state=0)

In [29]:
model.fit(df_train.drop(['rating', 'ID'], axis=1), df_train.rating)

prediction = model.predict(df_test.drop(['rating', 'ID', 'rating'], axis=1))

submission = pd.DataFrame(
        {'ID': df_test.ID, 'rating': np.around(prediction, 2)})
submission.to_csv('./data/out/sol1.csv', index=False)

In [19]:
#mean_squared_error(y_test, prediction)

In [27]:
len(prediction)

85509