In [1]:
import pandas as pd
import time
import pandas_profiling
import numpy as np
import math
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import datasets
from datetime import date, datetime
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from tqdm import tqdm, tqdm_notebook
import matplotlib.pyplot as plt
import json
from pandas.io.json import json_normalize #package for flattening json in pandas df
import gc
import pymongo
from pymongo import MongoClient
import warnings, sys, os
plt.style.use("seaborn")
sns.set(style="white")

In [2]:
#pd.set_option('display.max_colwidth', -1)
#pd.set_option('display.max_colwidth', 100)

## Carga Parcial

In [3]:
""" client = MongoClient('localhost', 27017)
db = client.sistReco
item_data = db.item_data
test = db.test
train = db.train
######## ITEM_DATA ########
df_item_data = pd.DataFrame(list(item_data.find()))
#df_item_data.to_csv("./data/item_data.csv", index=False)
######## TEST ########
df_test = pd.DataFrame(list(test.find()))
#df_test.to_csv("./data/df_test.csv", index=False)
#df_test_s = df_test[:3000]
#df_test_s.to_csv("./data/df_test_s.csv", index=False)
######## TRAIN ########
df_train = pd.DataFrame(list(train.find()))
#df_train.to_csv("./data/df_train.csv", index=False)
#df_train_s = df_train[:7000]
#df_train_s.to_csv("./data/df_train_s.csv", index=False) """

' client = MongoClient(\'localhost\', 27017)\ndb = client.sistReco\nitem_data = db.item_data\ntest = db.test\ntrain = db.train\n######## ITEM_DATA ########\ndf_item_data = pd.DataFrame(list(item_data.find()))\n#df_item_data.to_csv("./data/item_data.csv", index=False)\n######## TEST ########\ndf_test = pd.DataFrame(list(test.find()))\n#df_test.to_csv("./data/df_test.csv", index=False)\n#df_test_s = df_test[:3000]\n#df_test_s.to_csv("./data/df_test_s.csv", index=False)\n######## TRAIN ########\ndf_train = pd.DataFrame(list(train.find()))\n#df_train.to_csv("./data/df_train.csv", index=False)\n#df_train_s = df_train[:7000]\n#df_train_s.to_csv("./data/df_train_s.csv", index=False) '

In [4]:
""" del [[df_test, df_train]]
gc.collect() """

' del [[df_test, df_train]]\ngc.collect() '

In [5]:
var = [{'event_info': 1786148, 'event_timestamp': '2019-10-19T11:25:42.444-0400', 'event_type': 'view'}, {'event_info': 1786148, 'event_timestamp': '2019-10-19T11:25:57.487-0400', 'event_type': 'view'}, {'event_info': 'RELOGIO SMARTWATCH', 'event_timestamp': '2019-10-19T11:26:07.063-0400', 'event_type': 'search'}, {'event_info': 1615991, 'event_timestamp': '2019-10-19T11:27:26.879-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-19T11:28:36.558-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-19T11:28:40.827-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-19T11:30:42.089-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-19T21:51:29.622-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-19T21:52:09.281-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-19T21:52:41.863-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-19T21:54:16.119-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-19T21:54:40.629-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-19T21:54:57.329-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-19T22:00:04.577-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-20T10:36:47.525-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-20T10:37:23.202-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-20T10:37:47.699-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-20T19:28:14.619-0400', 'event_type': 'view'}, {'event_info': 1615991, 'event_timestamp': '2019-10-20T19:28:41.646-0400', 'event_type': 'view'}]	

plain_json = json_normalize(var)
plain_json

            event_info               event_timestamp event_type
0              1786148  2019-10-19T11:25:42.444-0400       view
1              1786148  2019-10-19T11:25:57.487-0400       view
2   RELOGIO SMARTWATCH  2019-10-19T11:26:07.063-0400     search
3              1615991  2019-10-19T11:27:26.879-0400       view
4              1615991  2019-10-19T11:28:36.558-0400       view
5              1615991  2019-10-19T11:28:40.827-0400       view
6              1615991  2019-10-19T11:30:42.089-0400       view
7              1615991  2019-10-19T21:51:29.622-0400       view
8              1615991  2019-10-19T21:52:09.281-0400       view
9              1615991  2019-10-19T21:52:41.863-0400       view
10             1615991  2019-10-19T21:54:16.119-0400       view
11             1615991  2019-10-19T21:54:40.629-0400       view
12             1615991  2019-10-19T21:54:57.329-0400       view
13             1615991  2019-10-19T22:00:04.577-0400       view
14             1615991  2019-10-20T10:36:47.525-0400       view
15             1615991  2019-10-20T10:37:23.202-0400       view
16             1615991  2019-10-20T10:37:47.699-0400       view
17             1615991  2019-10-20T19:28:14.619-0400       view
18             1615991  2019-10-20T19:28:41.646-0400       view

In [2]:
df_test = pd.read_json('./data/raw/test_dataset.jl', lines=True)
#df_train = pd.read_json('./data/raw/train_dataset.jl', lines=True)

In [12]:
#df_train_s = df_train[:100000]

In [9]:
df_1 = df_train[:2]
df_1

                                        user_history  item_bought
0  [{'event_info': 1786148, 'event_timestamp': '2...      1748830
1  [{'event_info': 643652, 'event_timestamp': '20...       228737

In [13]:
aux = json_normalize(df_1['user_history'][0])

In [7]:
def to_plain_dataset(df_in, array_out):
    print("len: ",len(df_in) )
    #plain_json = []
    id = 0
    for row in tqdm_notebook(df_in.itertuples()):  
        json = json_normalize(row.user_history)
        id = id + 1
        for key in range(len(json)):
            json_row = dict()
            json_row["id"] = id
            json_row["event_info"] = json.event_info[key]
            json_row["event_timestamp"] = json.event_timestamp[key]
            json_row["event_type"] = json.event_type[key]
            #json_row["item_bought"] = row.item_bought            
            plain_json.append(json_row)        
    #df_out = pd.DataFrame(plain_json)
    return array_out

In [11]:
t_0 = time.time()
plain_json = []
to_plain_dataset(df_test, plain_json)
print ("tiempo: ", time.time() - t_0)

# 100 000 ===> tiempo:  322.5890488624573
# 413 163 ===> tiempo:  1369.7225346565247

len:  177070

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

tiempo:  612.7680552005768

In [14]:
#del [df_train]
#gc.collect()

In [15]:
t_0 = time.time()
print("plain_len: ",len(plain_json))
df_plain_json = pd.DataFrame(plain_json)
print ("tiempo: ", time.time() - t_0)
df_plain_json.head()

# 100 000 ===> plain_len:  2909159 ===> tiempo:  5.075702428817749
# 413 163 ===> plain_len:  11999166 ===> tiempo:  25.772322416305542

plain_len:  5187754
tiempo:  7.783769607543945

   id event_info               event_timestamp event_type
0   1    1572239  2019-09-26T18:31:47.705-0400       view
1   1    1572239  2019-09-26T18:35:04.724-0400       view
2   1    1572239  2019-09-26T18:37:35.532-0400       view
3   1    1572239  2019-09-26T18:38:54.680-0400       view
4   1    1572239  2019-09-26T18:40:26.904-0400       view

In [16]:
t_0 = time.time()
df_plain_json.to_csv("./data/testData.csv", index=False)
print ("tiempo: ", time.time() - t_0)
# 100 000 ===> tiempo:  10.253700494766235
# 413 163 ===> tiempo:  39.71964073181152

tiempo:  16.726579904556274

In [3]:
df_item_data = pd.read_json('./data/raw/item_data.jl', lines=True)

In [4]:
df_item_data.head()

,item_id,title,domain_id,product_id,price,category_id,condition
0,111260,Casa Sola En Venta Con Gran Patio Solo Pago De...,MLM-INDIVIDUAL_HOUSES_FOR_SALE,NaN,1150000.00,MLM170527,new
1,871377,Resident Evil Origins Collection Nintendo Swit...,MLM-VIDEO_GAMES,15270800.0,1392.83,MLM151595,new
2,490232,Falda De Imitación Piel Negra,MLM-SKIRTS,NaN,350.00,MLM7697,new
3,1150706,Powercolor Red Devil Radeon Rx 580 8gb Gddr5,MLM-GRAPHICS_CARDS,NaN,3200.00,MLM9761,used
4,934912,Laptop Hp Nx6320 Core Duo Con Puerto Db9 Windo...,MLM-NOTEBOOKS,NaN,1599.00,MLM1652,used

In [6]:
len(df_item_data)

2102277