In [1]:
import pandas as pd
import surprise as sp
import os

In [11]:
#! pip install scikit-surprise

## Ejemplo  Surprise
### https://surprise.readthedocs.io/en/stable/

In [2]:
df = pd.read_csv('./data/ratings_train.csv')
df.head()

,ID,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second
0,1,51198,608,5.0,17,9,1997,23,40,20
1,2,51198,1073,4.0,17,9,1997,23,41,6
2,3,51198,141,4.0,17,9,1997,23,41,58
3,4,51198,356,4.0,17,9,1997,23,43,44
4,5,51198,1198,5.0,17,9,1997,23,44,35

In [3]:
reader = sp.reader.Reader(rating_scale=(0.5, 5))

data = sp.dataset.Dataset.load_from_df(df[['userID', 'movieID', 'rating']], reader)

In [4]:
sim_options = {
    'name': 'pearson',
    'user_based': True, #False,
}

algo = sp.prediction_algorithms.knns.KNNBasic(k=40, min_k=5, sim_options=sim_options)

sp.model_selection.validation.cross_validate(algo, data, measures=['rmse', 'mae'], cv=2, n_jobs=-1)

{'test_rmse': array([0.8755956 , 0.87902887]),
 'test_mae': array([0.67517683, 0.67771044]),
 'fit_time': (13.239965200424194, 13.045816659927368),
 'test_time': (111.65649318695068, 110.0484344959259)}