In [7]:
import pandas as pd
import pandas_profiling
import numpy as np
import math
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import datasets
from datetime import date, datetime
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn import preprocessing
plt.style.use("seaborn")
sns.set(style="white")

## Lectura y exploraci√≥n

In [8]:
df_movies = pd.read_csv("./data/movies.csv")
df_train = pd.read_csv("./data/ratings_train.csv")
df_test = pd.read_csv("./data/ratings_test.csv")

In [9]:
df_movies.head()

   id                        title  year
0   1                    Toy story  1995
1   2                      Jumanji  1995
2   3               Grumpy Old Men  1993
3   4            Waiting to Exhale  1995
4   5  Father of the Bride Part II  1995

In [10]:
df_train.head()

,ID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second
0,1,608,5.0,17,9,1997,23,40,20
1,2,141,4.0,17,9,1997,23,41,58
2,3,1073,4.0,17,9,1997,23,41,6
3,4,356,4.0,17,9,1997,23,43,44
4,5,1198,5.0,17,9,1997,23,44,35

## Filtrado y generacion de datos

In [15]:
#Normalizar Rating

x_array = df_train['rating']
normalized_X = preprocessing.normalize([x_array])
df_train['rating'] = normalized_X

ValueError: Length of values does not match length of index

In [69]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
full_x = df_train.drop(['rating', 'ID'], axis=1)
full_y = df_train[['rating']]
X_train, X_test, y_train, y_test = train_test_split(full_x, full_y, test_size=0.3, random_state=0)

In [70]:
print("train: ",len(X_train),len(y_train))
print("test:  ",len(X_test),len(y_test))

train:  539062 539062
test:   231027 231027

In [71]:
# Creo regresion lineal
model = LinearRegression()

# Entreno el modelo usando el conjunto de TRAIN
model.fit(X_train, y_train)

# Hago predicciones usando el TEST 
prediction = model.predict(X_test)

In [72]:
#ECM
print('Mean squared error: %.2f' % mean_squared_error(y_test, prediction))

Mean squared error: 1.01

## Modelo completo

In [73]:
df_x = df_test.drop(['rating', 'ID'], axis=1)
#df_y = df_test[['rating']]

In [74]:
# Creo regresion lineal
modelFull = LinearRegression()

# Entreno el modelo usando el conjunto de TRAIN
model.fit(X_train, y_train)

# Hago predicciones usando el TEST 
predFull = model.predict(df_x)

In [119]:
print(len(df_test.ID),len(predFull))

85509 85509

In [120]:
submit = pd.DataFrame({'ID':df_test.ID})
submit['rating'] = pd.DataFrame(np.around(predFull, 2))
submit.head()

   ID  rating
0   9    3.48
1  18    3.45
2  34    3.45
3  39    3.45
4  50    3.48

In [121]:
len(submit)

85509

In [117]:
submit.to_csv('./data/out/ignacio_submit1.csv', index=False)

## Ejemplo Diabetes
### https://scikit-learn.org/stable/auto_examples/linear_model/plot_ols.html

In [10]:
# Load the diabetes dataset
diabetes_X, diabetes_y = datasets.load_diabetes(return_X_y=True)
# Use only one feature
diabetes_X = diabetes_X[:, np.newaxis, 2]

# Split the data into training/testing sets
diabetes_X_train = diabetes_X[:-20]
diabetes_X_test = diabetes_X[-20:]

# Split the targets into training/testing sets
diabetes_y_train = diabetes_y[:-20]
diabetes_y_test = diabetes_y[-20:]

In [14]:
# Create linear regression object
regr = LinearRegression()

# Train the model using the training sets
regr.fit(diabetes_X_train, diabetes_y_train)

# Make predictions using the testing set
diabetes_y_pred = regr.predict(diabetes_X_test)

In [29]:
# The coefficients
#print('Coefficients: \n', regr.coef_)
# The mean squared error
print('Mean squared error: %.2f' % mean_squared_error(diabetes_y_test, diabetes_y_pred))
# The coefficient of determination: 1 is perfect prediction
#print('Coefficient of determination: %.2f' % r2_score(diabetes_y_test, diabetes_y_pred))

Mean squared error: 2548.07

In [24]:
# Plot outputs
plt.scatter(diabetes_X_test, diabetes_y_test,  color='black')
plt.xticks(())
plt.yticks(())
plt.show()

In [23]:
plt.plot(diabetes_X_test, diabetes_y_pred, color='blue', linewidth=3)
plt.xticks(())
plt.yticks(())
plt.show()