In [2]:
import pandas as pd
import pandas_profiling
import numpy as np
import math
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import datasets
from datetime import date, datetime
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
#from pandasgui import show
plt.style.use("seaborn")
sns.set(style="white")

## Lectura y exploraci√≥n

In [3]:
df_train = pd.read_csv("./data/ratings_train.csv")
df_test = pd.read_csv("./data/ratings_test.csv")

In [5]:
# Ahora tengo el userID
df_train.head()

,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second
0,75,3,1.0,29,10,2006,23,17,16
1,75,32,4.5,29,10,2006,23,23,44
2,75,110,4.0,29,10,2006,23,30,8
3,75,160,2.0,29,10,2006,23,16,52
4,75,163,4.0,29,10,2006,23,29,30

In [5]:
df_train.head()

,ID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second
0,1,608,5.0,17,9,1997,23,40,20
1,2,141,4.0,17,9,1997,23,41,58
2,3,1073,4.0,17,9,1997,23,41,6
3,4,356,4.0,17,9,1997,23,43,44
4,5,1198,5.0,17,9,1997,23,44,35

## Filtrado y generacion de datos

In [69]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
full_x = df_train.drop(['rating', 'ID'], axis=1)
full_y = df_train[['rating']]
X_train, X_test, y_train, y_test = train_test_split(full_x, full_y, test_size=0.3, random_state=0)

In [70]:
print("train: ",len(X_train),len(y_train))
print("test:  ",len(X_test),len(y_test))

train:  539062 539062
test:   231027 231027

In [71]:
# Creo regresion lineal
model = LinearRegression()

# Entreno el modelo usando el conjunto de TRAIN
model.fit(X_train, y_train)

# Hago predicciones usando el TEST 
prediction = model.predict(X_test)

In [72]:
#ECM
print('Mean squared error: %.2f' % mean_squared_error(y_test, prediction))

Mean squared error: 1.01

## Modelo completo

In [73]:
df_x = df_test.drop(['rating', 'ID'], axis=1)
#df_y = df_test[['rating']]

In [74]:
# Creo regresion lineal
modelFull = LinearRegression()

# Entreno el modelo usando el conjunto de TRAIN
model.fit(X_train, y_train)

# Hago predicciones usando el TEST 
predFull = model.predict(df_x)

In [119]:
print(len(df_test.ID),len(predFull))

85509 85509

In [120]:
submit = pd.DataFrame({'ID':df_test.ID})
submit['rating'] = pd.DataFrame(np.around(predFull, 2))
submit.head()

   ID  rating
0   9    3.48
1  18    3.45
2  34    3.45
3  39    3.45
4  50    3.48

In [121]:
len(submit)

85509

In [117]:
submit.to_csv('./data/out/ignacio_submit1.csv', index=False)

## Ejemplo  Whoosh
### https://whoosh.readthedocs.io/en/latest/intro.html

In [ ]:
gui = show(mpg)