In [3]:
import pandas as pd
import pandas_profiling
import numpy as np
import math
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import datasets
from datetime import date, datetime
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from tqdm import tqdm, tqdm_notebook
import matplotlib.pyplot as plt
plt.style.use("seaborn")
sns.set(style="white")

## Perfil de peliculas y usuarios.

### Perfil de las peliculas segun su genero

In [10]:
df_genres = pd.read_csv("./data/movie_genres.csv")
df_movies = pd.read_csv("./data/movies.csv")
df_ratings = pd.read_csv("./data/ratings_train.csv")
df_ratings_test = pd.read_csv("./data/ratings_test.csv")

In [11]:
#Generos para todas las peliculas
df_genres["genre"].unique()

array(['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical',
       'Film-Noir', 'Western', 'Short'], dtype=object)

In [12]:
# Localizo los IDs de las peliculas de Action
mids = df_genres.loc[df_genres["genre"]=="Action", "movieID"].unique()
mids

array([    6,     9,    10, ..., 64921, 64997, 64999])

In [13]:
# Agrego una columna donde me identifica cuales son de accion y cuales no
df_movies["Genre Action"] = df_movies["id"].isin(mids).astype("int16")
df_movies.head()
#df_movies["Genre Action"].sum()

,id,title,year,imdbID,rtID,Genre Action
0,1,Toy story,1995,114709,toy_story,0
1,2,Jumanji,1995,113497,1068044-jumanji,0
2,3,Grumpy Old Men,1993,107050,grumpy_old_men,0
3,4,Waiting to Exhale,1995,114885,waiting_to_exhale,0
4,5,Father of the Bride Part II,1995,113041,father_of_the_bride_part_ii,0

In [14]:
# Creo una matriz donde se agrego un flag "1" en cada genero del que la pelicula pertenece.
# Perfil de la pelicula sobre el Genero
for g in df_genres["genre"].unique():
    mids = df_genres.loc[df_genres["genre"] == g, "movieID"].unique()
    df_movies["Genre {}".format(g)] = df_movies["id"].isin(mids).astype("int16")
df_movies.head()
# Podria ponderar por la cantidad de generos que tiene, si tiene 4 generos cada uno seria 0.25

,id,title,year,imdbID,rtID,Genre Action,Genre Adventure,Genre Animation,Genre Children,Genre Comedy,...,Genre Horror,Genre Mystery,Genre Sci-Fi,Genre IMAX,Genre Documentary,Genre War,Genre Musical,Genre Film-Noir,Genre Western,Genre Short
0,1,Toy story,1995,114709,toy_story,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,1995,113497,1068044-jumanji,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpy Old Men,1993,107050,grumpy_old_men,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale,1995,114885,waiting_to_exhale,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II,1995,113041,father_of_the_bride_part_ii,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

## Perfil de los usuarios

In [15]:
df_ratings.head()

,ID,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second
0,1,51198,608,5.0,17,9,1997,23,40,20
1,2,51198,141,4.0,17,9,1997,23,41,58
2,3,51198,1073,4.0,17,9,1997,23,41,6
3,4,51198,356,4.0,17,9,1997,23,43,44
4,5,51198,1198,5.0,17,9,1997,23,44,35

In [16]:
df_ratings["userID"].unique()

array([51198, 29202, 32283, ..., 62354, 62394, 62847])

In [17]:
# Voy a crea el perfil de un usuario
USUARIO = 75
df_ratings_usuario = df_ratings[df_ratings["userID"] == USUARIO]
df_ratings_usuario.sort_values("rating").head()

,ID,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second
473065,525416,75,6225,0.5,29,10,2006,23,21,25
473056,525405,75,3,1.0,29,10,2006,23,17,16
473082,525436,75,3258,1.5,29,10,2006,23,26,8
473062,525411,75,2054,1.5,29,10,2006,23,17,33
473052,525401,75,160,2.0,29,10,2006,23,16,52

In [18]:
# Ahora lo que busco es condensar sus gustos de pelicula por los generos.
# Mergeo al rating de un usuario el perfil de cada pelicula
df_ratings_usuario = df_ratings[df_ratings["userID"] == USUARIO].merge(df_movies, left_on="movieID", right_on="id")
df_ratings_usuario.sort_values("rating").head()

,ID,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second,...,Genre Horror,Genre Mystery,Genre Sci-Fi,Genre IMAX,Genre Documentary,Genre War,Genre Musical,Genre Film-Noir,Genre Western,Genre Short
13,525416,75,6225,0.5,29,10,2006,23,21,25,...,0,0,0,0,0,0,0,0,0,0
4,525405,75,3,1.0,29,10,2006,23,17,16,...,0,0,0,0,0,0,0,0,0,0
28,525436,75,3258,1.5,29,10,2006,23,26,8,...,0,0,0,0,0,0,0,0,0,0
10,525411,75,2054,1.5,29,10,2006,23,17,33,...,0,0,1,0,0,0,0,0,0,0
0,525401,75,160,2.0,29,10,2006,23,16,52,...,0,1,1,0,0,0,0,0,0,0

### Ahora lo que busco es agrupar toda esta tabla en una sola lista, donde pueda sumar los generos para tener para un solo usuario el perfil completo.

In [19]:
# Veo para el usuario 75 que porcentaje tiene sobre los generos Action, Comedy y Drama de las peliculas que opino.
df_ratings_usuario["Genre Action"].mean(), df_ratings_usuario["Genre Comedy"].mean(), df_ratings_usuario["Genre Drama"].mean()

(0.7333333333333333, 0.3111111111111111, 0.3333333333333333)

In [20]:
# Una mejor manera de ranquear, es tomar el minimo y el maximo raking que el usuario puso y no el 1-5 que es el estandar. Si un usuario siempre vota de 3-5, entonces se usa esa base.

(df_ratings_usuario["Genre Action"] * df_ratings_usuario["rating"]).mean()

2.6666666666666665

In [21]:
# Si saco la media, me da CERO en los que no tiene accion y un numero de votacion sobre los que si tenian accion. Idealmente no deberia contar los CEROs.
# Lo Normalizo por la cantidad de votaciones posibles
df_ratings_usuario.loc[df_ratings_usuario["Genre Action"]==1, "rating"].mean() / 5.0, df_ratings_usuario.loc[df_ratings_usuario["Genre Drama"]==1, "rating"].mean() / 5.0, df_ratings_usuario.loc[df_ratings_usuario["Genre Comedy"]==1, "rating"].mean() / 5.0

(0.7272727272727273, 0.7533333333333333, 0.6357142857142857)

### Esto va generado varios vectores entre CERO y UNO y el vector del usuario. Luego deberia buscar cual es el vector mas cercano.

In [22]:
# Perfil del USER 75, la idea es generar el perfil para los usuarios.
# Creo PERFIL como diccionario
PERFIL ={}
for c in df_ratings_usuario.columns:
    # Me quedo solo con las columnas que empiezan con GENRE 
    if not c.startswith("Genre"):
       continue

    PERFIL[c] = [df_ratings_usuario.loc[df_ratings_usuario[c]==1, "rating"].mean() / 5.0]

print(PERFIL)

{'Genre Action': [0.7272727272727273], 'Genre Adventure': [0.6571428571428571], 'Genre Animation': [0.9], 'Genre Children': [0.3], 'Genre Comedy': [0.6357142857142857], 'Genre Fantasy': [0.625], 'Genre Romance': [0.5], 'Genre Drama': [0.7533333333333333], 'Genre Crime': [0.8300000000000001], 'Genre Thriller': [0.7761904761904762], 'Genre Horror': [0.7], 'Genre Mystery': [0.55], 'Genre Sci-Fi': [0.6538461538461539], 'Genre IMAX': [nan], 'Genre Documentary': [nan], 'Genre War': [0.7333333333333333], 'Genre Musical': [0.9], 'Genre Film-Noir': [nan], 'Genre Western': [0.5], 'Genre Short': [nan]}

In [23]:
# Lo convierto en un DataFrame
# fillna(0) me llena los nan como CERO
df_perfil = pd.DataFrame.from_dict(PERFIL).fillna(0)
df_perfil

,Genre Action,Genre Adventure,Genre Animation,Genre Children,Genre Comedy,Genre Fantasy,Genre Romance,Genre Drama,Genre Crime,Genre Thriller,Genre Horror,Genre Mystery,Genre Sci-Fi,Genre IMAX,Genre Documentary,Genre War,Genre Musical,Genre Film-Noir,Genre Western,Genre Short
0,0.727273,0.657143,0.9,0.3,0.635714,0.625,0.5,0.753333,0.83,0.77619,0.7,0.55,0.653846,0.0,0.0,0.733333,0.9,0.0,0.5,0.0

### Este es el perfil del usuario 75, e informa segun lo que califico cuales son los generos que estan mas cerca de su gusto.
### Ahora lo que busco es cuales son las peliculas que estan mas cerca de este usuario usando la Similitud Coseno (1 es super similar)

In [24]:
# Agarro una pelicula cualquier y me fijo que tan cerca o lejos esta de su perfil.
MOVIE = 65088
movie = df_movies.query(f"id=={MOVIE}")
columnas_genero = [c for c in df_movies.columns if c.startswith("Genre")]
A = movie[columnas_genero].values[0]
B = df_perfil[columnas_genero].values[0]
# A es la pelicula y B es el perfil del usuario

In [25]:
# El perfil
# Similaridad Coseno, mientras mas cerca del 1 mejor
np.dot(A,B) / (np.linalg.norm(A) * np.linalg.norm(B))

0.33397865808365

In [26]:
# Ahora busco hacerlo para todas las peliculas

columnas_genero = [c for c in df_movies.columns if c.startswith("Genre")]
B = df_perfil[columnas_genero].values[0]

for index, row in tqdm_notebook(df_movies.iterrows()):    
    movie = df_movies.query("id == {}".format(row["id"]))

    A = movie[columnas_genero].values[0]
    #print(row["id"], np.dot(A, B) / (np.linalg.norm(A) * np.linalg.norm(B)))

#0.49472772819267147 * 5.0
# Si tomo el mayor y lo multiplico por 5, eso me da el rating.

# Tambien podria tomar las 5 con mayor rating y podria decir que esas son las 5 que mas le deberian gustar.
# No deberia mostrarle peliculas que YA vio, porque esas podrian ser muy cercanas.
# Esta tecnica me permite con 1 sola pelicula, ya empezar a recomendarle peliculas similares.

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

In [26]:
# Con el pais podria hacer algo similar y decir para cada usuario que pais de pelicula prefiere. Pero quizas no haya que hacer * 5.0?
# Podria pondear los generos por 0.6 y los paises por 0.4 ...
# Como reflejar en el perfil del usuario que prefiere peliculas a partir del año 2000?
# Se podrian hacer bines por decadas. Agregar el año en el perfil, etc. 
# (año- minimoAño / maximoAño - minimoAños) los paso a CERO y UNO, y mutiplico año contra año.
# Podria incluir
# Año, directores, actores, paises, etc.

## Calculo para todos los usuarios

In [27]:
df_movies.head()

,id,title,year,imdbID,rtID,Genre Action,Genre Adventure,Genre Animation,Genre Children,Genre Comedy,...,Genre Horror,Genre Mystery,Genre Sci-Fi,Genre IMAX,Genre Documentary,Genre War,Genre Musical,Genre Film-Noir,Genre Western,Genre Short
0,1,Toy story,1995,114709,toy_story,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,1995,113497,1068044-jumanji,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpy Old Men,1993,107050,grumpy_old_men,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale,1995,114885,waiting_to_exhale,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II,1995,113041,father_of_the_bride_part_ii,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [28]:
df_ratings["userID"].unique()

array([51198, 29202, 32283, ..., 62354, 62394, 62847])

In [29]:
def perfil_por_usuario(USUARIO):

    # Voy a crea el perfil de un usuario
    df_ratings_generic = df_ratings[df_ratings["userID"] == USUARIO]
    df_ratings_generic.sort_values("rating").head()
    # Ahora lo que busco es condensar sus gustos de pelicula por los generos.
    # Mergeo al rating de un usuario el perfil de cada pelicula
    df_ratings_generic = df_ratings[df_ratings["userID"] == USUARIO].merge(df_movies, left_on="movieID", right_on="id")
    df_ratings_generic.sort_values("rating").head()

    # Perfil del USER 29202, la idea es generar el perfil para los usuarios.
    # Creo PERFIL como diccionario
    PERFIL ={}
    for c in df_ratings_generic.columns:
        # Me quedo solo con las columnas que empiezan con GENRE 
        if  c.startswith("userID"):
           PERFIL[c] = [USUARIO] 
        #if not c.startswith(("Genre", "userID")):
        if not c.startswith("Genre"):
            continue
        PERFIL[c] = [df_ratings_generic.loc[df_ratings_generic[c]==1, "rating"].mean() / 5.0]


    #print(PERFIL)
    return PERFIL

In [30]:
df_perfil_full=None
USUARIO = 29202
perfil_por_usuario(USUARIO)


# Lo convierto en un DataFrame
# fillna(0) me llena los nan como CERO
#df_perfil = pd.DataFrame.from_dict(PERFIL).fillna(0)
#df_perfil.insert(0,'userID',USUARIO)

{'userID': [29202],
 'Genre Action': [0.5125],
 'Genre Adventure': [0.5031818181818182],
 'Genre Animation': [0.4470588235294118],
 'Genre Children': [0.4333333333333333],
 'Genre Comedy': [0.4436131386861314],
 'Genre Fantasy': [0.492741935483871],
 'Genre Romance': [0.5364077669902912],
 'Genre Drama': [0.5667250437828371],
 'Genre Crime': [0.5349112426035503],
 'Genre Thriller': [0.5311797752808989],
 'Genre Horror': [0.4645161290322581],
 'Genre Mystery': [0.54875],
 'Genre Sci-Fi': [0.5093567251461988],
 'Genre IMAX': [0.6],
 'Genre Documentary': [0.6533333333333333],
 'Genre War': [0.5755555555555556],
 'Genre Musical': [0.5045454545454546],
 'Genre Film-Noir': [0.4428571428571429],
 'Genre Western': [0.5565217391304348],
 'Genre Short': [nan]}

In [31]:
IDs = ['29202','75','62354']
df_addoc = df_ratings.loc[df_ratings["userID"].isin(IDs)]
df_addoc = df_ratings
df_addoc["userID"].unique()

array([51198, 29202, 32283, ..., 62354, 62394, 62847])

In [32]:

#df_perfil = pd.DataFrame.from_dict(PERFIL).fillna(0)
#df_perfil.insert(0,'userID',USUARIO)
df_full_profile = pd.DataFrame()
for g in tqdm_notebook(df_addoc["userID"].unique()):
    #PERFIl_FULL = perfil_por_usuario(g)
    df_full_profile = df_full_profile.append(pd.DataFrame.from_dict(perfil_por_usuario(g)).fillna(0), ignore_index=True)
    #print(df_full_profile.tail(1))

HBox(children=(FloatProgress(value=0.0, max=2113.0), HTML(value='')))

In [33]:
df_full_profile

,userID,Genre Action,Genre Adventure,Genre Animation,Genre Children,Genre Comedy,Genre Fantasy,Genre Romance,Genre Drama,Genre Crime,...,Genre Horror,Genre Mystery,Genre Sci-Fi,Genre IMAX,Genre Documentary,Genre War,Genre Musical,Genre Film-Noir,Genre Western,Genre Short
0,51198,0.783824,0.798000,0.788889,0.766667,0.779000,0.796667,0.810811,0.833028,0.865116,...,0.728571,0.804762,0.784211,0.9,0.883333,0.816667,0.840000,0.800000,0.733333,0.0
1,29202,0.512500,0.503182,0.447059,0.433333,0.443613,0.492742,0.536408,0.566725,0.534911,...,0.464516,0.548750,0.509357,0.6,0.653333,0.575556,0.504545,0.442857,0.556522,0.0
2,32283,0.687004,0.694545,0.806452,0.758333,0.694751,0.694805,0.723832,0.739817,0.728571,...,0.662162,0.742857,0.656566,0.8,0.828571,0.721212,0.700000,0.800000,0.769565,0.0
3,36495,0.673034,0.677551,0.763636,0.742857,0.764198,0.631579,0.740541,0.755914,0.767241,...,0.800000,0.725000,0.640000,0.0,0.500000,0.762500,0.800000,1.000000,0.600000,0.0
4,28350,0.653191,0.666667,0.705769,0.658915,0.632463,0.656180,0.670940,0.669822,0.635714,...,0.429412,0.615000,0.597561,0.8,0.000000,0.684211,0.641667,0.700000,0.635294,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108,61985,0.749457,0.742424,0.746154,0.733333,0.709677,0.738095,0.731579,0.761538,0.735849,...,0.738095,0.816216,0.741509,0.9,0.800000,0.768421,0.685714,0.750000,0.725000,0.0
2109,62042,0.583333,0.693333,0.690000,0.693333,0.601818,0.685714,0.659375,0.763265,0.671429,...,0.566667,0.700000,0.516667,0.0,0.000000,0.850000,0.638462,0.000000,0.800000,0.0
2110,62354,0.827273,0.821429,0.820000,0.840000,0.726316,0.888889,0.768750,0.809677,0.900000,...,0.660000,0.700000,0.840000,0.0,0.000000,0.750000,0.733333,1.000000,0.700000,0.0
2111,62394,0.607477,0.619178,0.628571,0.561111,0.557534,0.613889,0.611667,0.684817,0.708696,...,0.631373,0.664706,0.516364,0.9,0.500000,0.737037,0.650000,0.733333,0.607692,0.0
2112,62847,0.697917,0.711111,0.833333,0.700000,0.685455,0.654545,0.736585,0.741975,0.776923,...,0.642857,0.833333,0.672727,0.0,0.700000,0.814286,0.780000,0.900000,0.725000,0.0

## En df_full_profile tengo el perfil de todos los usuarios y cada linea representa segun lo que califico un usuario que generos estan mas cerca o mas lejos de sus preferencia.
## Ahora lo que busco es cuales son las peliculas que estan mas cerca de casa usuario usando la Similitud Coseno (1 es super similar)

In [34]:
df_movies_adDoc = df_movies

In [35]:
# Dado un perfil de usuario, veo que pelicula es la mas afin a sus votaciones.

def pelicula_afin_a_perfil(userID, B, list_profile):
    columnas_genero = [c for c in df_movies_adDoc.columns if c.startswith("Genre")]
    
    similarityC_base=0
    movieID = 0
    #for index, row in tqdm_notebook(df_movies_adDoc.iterrows()):
    for index, row in (df_movies_adDoc.iterrows()):    
        movie = df_movies_adDoc.query("id == {}".format(row["id"]))
        A = movie[columnas_genero].values[0]
        similarityC = np.dot(A, B) / (np.linalg.norm(A) * np.linalg.norm(B))
        #print(userID, row["id"], similarityC)
        if (similarityC_base < similarityC):
            similarityC_base = similarityC
            movieID = row["id"]
        #RANKING[index] = [row["id"], similarityC_base]
           
    user_row = dict()
    user_row["userID"] = userID
    user_row["movieID"] = movieID
    user_row["similarityC"] = similarityC_base
    list_profile.append(user_row)
    return list_profile

In [36]:
#print("movieID:", movieID, "simCosin: ",simCosin_base)

In [37]:
#df_perfil[columnas_genero].values[0]

In [38]:
#COUNT=1
## iloc[row slicing, column slicing]
#B=df_full_profile.iloc[COUNT-1:COUNT, 1:].values[0]
#B

In [39]:
#USER = "51198"
#column_names = ["userID","movieID", "simCos"]
#df_profile_movieSelection = pd.DataFrame(columns = column_names)
#df_profile_movieSelection = []
#pelicula_afin_a_perfil(USER,B,df_profile_movieSelection)

In [40]:
df_full_profileCut = df_full_profile[0:49]

In [41]:
profile_movieSelection = []
COUNT=1
for g in tqdm_notebook(df_full_profileCut["userID"].unique()):
    B=df_full_profileCut.iloc[COUNT-1:COUNT, 1:].values[0]
    pelicula_afin_a_perfil(g,B,profile_movieSelection)
    COUNT=COUNT+1

HBox(children=(FloatProgress(value=0.0, max=49.0), HTML(value='')))

In [44]:
#df_profile_movieSelection
df_profile_movieSelection = pd.DataFrame(profile_movieSelection)
df_profile_movieSelection.head()

   userID  movieID  similarityC
0   51198    51709     0.634122
1   29202    51709     0.625363
2   32283    51709     0.611448
3   36495    51709     0.643312
4   28350    56152     0.632130

In [43]:
df_profile_movieSelection.to_csv("./results/profile_movieSelectionParcial.csv")

### Con esto obtuve una pelicula para recomendarle a un usuario, basado en las peliculas que ya puntuo.

In [2]:
list_of_user_movies_similarities = []
for user_id, group in tqdm(df_raitings.goupby("userID")):
	for index, row in group.iterrows():
		user_movie_similarity = dict()
		profile = df_profile.loc[df_profiles ==  user_id][list_of_genres].values[0]
		movie = df_movies.query("id=={}".format(row.movieID))[list_of genres].values[0]
		similarity = np.dot(movie, profile) / (np.linalg.norm(movie) * np.linalg.norm(profile))

		user_movie_similarity["userID"]=user_id
		user_movie_similarity["movieID"]=row.movieID
		user_movie_similarity["similarity"] = similarity
		list_of_user_movies_similarities.append(user_movie_similarity)

NameError: name 'pd' is not defined

In [44]:
df_ratings.loc[df_ratings["userID"] == 51198].movieID.unique()

array([  608,   141,  1073,   356,  1198,   785,   708,  1183,  1569,
        1573,  1219,  1197,   175,   663,   724,   733,   648,   372,
        1200,  1193,  1291,  1210,   593,   590,  1208,    62,   780,
        1485,   337,  1196,  1466,    94,    95,  1391,  1693,   236,
         913,   441,   198,  1676,  1407,  1673,    50,   260,   296,
         778,  1080,  1089,  1093,  1136,  1721,  1633,    25,  1047,
        1784,  1120,  1835,  1479,  1909,  1194,  1220,  1394,  2003,
        2064,  1091,  1225,  2150,  1517,  1103,  2302,   628,  1884,
        1732,   110,  2294,  2206,  2355,   551,  1894,  2296,  2628,
        1298,  2762,  2571,     1,  1968,  2710,  1641,  1199,  2028,
        2115,  1333,  2763,  2683,  2542,  2968,  3571,  3996,  2858,
        3007,  3977,  1729,  1215,  4304,  3198,  4226,  4209,  1307,
        4642,  4888,  2959,  2324,  4880,   543,  4963,  4993,  4995,
        5064,  3801,  4873,  2396,  4718,  1617,  5378,  3798,  4415,
        2579,  5630,  4741,  5952,  2502,  3033,  5686,  5669,  1203,
         589,  5299,  4967,   924,  2692,  4975,  6942,  7153,  3949,
        6934,  2997,   318,   480,  4973,    32,  1206,  5025,  6807,
        4011,  3481,  5225,  5991,    70,  4878,  7438,  6283,  5110,
        2010,  4161,  3948,  8622,  6953,  6385,  6598,  6291,  7361,
        1747, 30825, 30810,  4027,  4881,  8784,   293,  8984,  8873,
        1247,  6002, 33794, 33493,  6016,  6870,   592, 42738, 44828,
       45210, 45186,  3897, 45517, 45499, 45501, 45672,   364, 41569,
       48385,  1464,  5951,  1270,  3160, 48774, 48082, 51540, 51662,
       49272, 48516, 52281, 51255, 50872,  1921, 54286, 54503, 52722,
        5349, 55444, 56003, 56333, 56757, 55814, 57368, 54997, 55247,
       55276, 55269, 55363, 56367, 58559, 60756, 57640, 59315, 61132,
        4235])