In [454]:
import pandas as pd
import pandas_profiling
import numpy as np
import math
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import datasets
from datetime import date, datetime
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from tqdm import tqdm, tqdm_notebook
import matplotlib.pyplot as plt
plt.style.use("seaborn")
sns.set(style="white")

## Perfil de peliculas y usuarios.

### Perfil de las peliculas segun su genero

In [2]:
df_genres = pd.read_csv("./data/movie_genres.csv")
df_movies = pd.read_csv("./data/movies.csv")
df_ratings = pd.read_csv("./data/ratings_train.csv")

In [3]:
#Generos para todas las peliculas
df_genres["genre"].unique()

array(['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical',
       'Film-Noir', 'Western', 'Short'], dtype=object)

In [4]:
# Localizo los IDs de las peliculas de Action
mids = df_genres.loc[df_genres["genre"]=="Action", "movieID"].unique()
mids

array([    6,     9,    10, ..., 64921, 64997, 64999])

In [5]:
# Agrego una columna donde me identifica cuales son de accion y cuales no
df_movies["Genre Action"] = df_movies["id"].isin(mids).astype("int16")
df_movies.head()
#df_movies["Genre Action"].sum()

,id,title,year,imdbID,rtID,Genre Action
0,1,Toy story,1995,114709,toy_story,0
1,2,Jumanji,1995,113497,1068044-jumanji,0
2,3,Grumpy Old Men,1993,107050,grumpy_old_men,0
3,4,Waiting to Exhale,1995,114885,waiting_to_exhale,0
4,5,Father of the Bride Part II,1995,113041,father_of_the_bride_part_ii,0

In [6]:
# Creo una matriz donde se agrego un flag "1" en cada genero del que la pelicula pertenece.
# Perfil de la pelicula sobre el Genero
for g in df_genres["genre"].unique():
    mids = df_genres.loc[df_genres["genre"] == g, "movieID"].unique()
    df_movies["Genre {}".format(g)] = df_movies["id"].isin(mids).astype("int16")
df_movies.head()
# Podria ponderar por la cantidad de generos que tiene, si tiene 4 generos cada uno seria 0.25

,id,title,year,imdbID,rtID,Genre Action,Genre Adventure,Genre Animation,Genre Children,Genre Comedy,...,Genre Horror,Genre Mystery,Genre Sci-Fi,Genre IMAX,Genre Documentary,Genre War,Genre Musical,Genre Film-Noir,Genre Western,Genre Short
0,1,Toy story,1995,114709,toy_story,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,1995,113497,1068044-jumanji,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpy Old Men,1993,107050,grumpy_old_men,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale,1995,114885,waiting_to_exhale,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II,1995,113041,father_of_the_bride_part_ii,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

## Perfil de los usuarios

In [7]:
df_ratings.head()

,ID,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second
0,1,51198,608,5.0,17,9,1997,23,40,20
1,2,51198,1073,4.0,17,9,1997,23,41,6
2,3,51198,141,4.0,17,9,1997,23,41,58
3,4,51198,356,4.0,17,9,1997,23,43,44
4,5,51198,1198,5.0,17,9,1997,23,44,35

In [8]:
df_ratings["userID"].unique()

array([51198, 29202, 32283, ..., 62354, 62394, 62847])

In [9]:
# Voy a crea el perfil de un usuario
USUARIO = 75
df_ratings_usuario = df_ratings[df_ratings["userID"] == USUARIO]
df_ratings_usuario.sort_values("rating").head()

,ID,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second
473065,525416,75,6225,0.5,29,10,2006,23,21,25
473058,525408,75,3,1.0,29,10,2006,23,17,16
473060,525410,75,2054,1.5,29,10,2006,23,17,33
473081,525435,75,3258,1.5,29,10,2006,23,26,8
473054,525403,75,160,2.0,29,10,2006,23,16,52

In [67]:
# Ahora lo que busco es condensar sus gustos de pelicula por los generos.
# Mergeo al rating de un usuario el perfil de cada pelicula
df_ratings_usuario = df_ratings[df_ratings["userID"] == USUARIO].merge(df_movies, left_on="movieID", right_on="id")
df_ratings_usuario.sort_values("rating").head()

,ID,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second,...,Genre Horror,Genre Mystery,Genre Sci-Fi,Genre IMAX,Genre Documentary,Genre War,Genre Musical,Genre Film-Noir,Genre Western,Genre Short
13,525416,75,6225,0.5,29,10,2006,23,21,25,...,0,0,0,0,0,0,0,0,0,0
6,525408,75,3,1.0,29,10,2006,23,17,16,...,0,0,0,0,0,0,0,0,0,0
8,525410,75,2054,1.5,29,10,2006,23,17,33,...,0,0,1,0,0,0,0,0,0,0
27,525435,75,3258,1.5,29,10,2006,23,26,8,...,0,0,0,0,0,0,0,0,0,0
2,525403,75,160,2.0,29,10,2006,23,16,52,...,0,1,1,0,0,0,0,0,0,0

### Ahora lo que busco es agrupar toda esta tabla en una sola lista, donde pueda sumar los generos para tener para un solo usuario el perfil completo.

In [18]:
# Veo para el usuario 75 que porcentaje tiene sobre los generos Action, Comedy y Drama de las peliculas que opino.
df_ratings_usuario["Genre Action"].mean(), df_ratings_usuario["Genre Comedy"].mean(), df_ratings_usuario["Genre Drama"].mean()

(0.7333333333333333, 0.3111111111111111, 0.3333333333333333)

In [74]:
# Una mejor manera de ranquear, es tomar el minimo y el maximo raking que el usuario puso y no el 1-5 que es el estandar. Si un usuario siempre vota de 3-5, entonces se usa esa base.

(df_ratings_usuario["Genre Action"] * df_ratings_usuario["rating"]).mean()

2.6666666666666665

In [83]:
# Si saco la media, me da CERO en los que no tiene accion y un numero de votacion sobre los que si tenian accion. Idealmente no deberia contar los CEROs.
# Lo Normalizo por la cantidad de votaciones posibles
df_ratings_usuario.loc[df_ratings_usuario["Genre Action"]==1, "rating"].mean() / 5.0, df_ratings_usuario.loc[df_ratings_usuario["Genre Drama"]==1, "rating"].mean() / 5.0, df_ratings_usuario.loc[df_ratings_usuario["Genre Comedy"]==1, "rating"].mean() / 5.0

(0.7272727272727273, 0.7533333333333333, 0.6357142857142857)

### Esto va generado varios vectores entre CERO y UNO y el vector del usuario. Luego deberia buscar cual es el vector mas cercano.

In [85]:
# Perfil del USER 75, la idea es generar el perfil para los usuarios.
# Creo PERFIL como diccionario
PERFIL ={}
for c in df_ratings_usuario.columns:
    # Me quedo solo con las columnas que empiezan con GENRE 
    if not c.startswith("Genre"):
       continue

    PERFIL[c] = [df_ratings_usuario.loc[df_ratings_usuario[c]==1, "rating"].mean() / 5.0]

print(PERFIL)

{'Genre Action': [0.7272727272727273], 'Genre Adventure': [0.6571428571428571], 'Genre Animation': [0.9], 'Genre Children': [0.3], 'Genre Comedy': [0.6357142857142857], 'Genre Fantasy': [0.625], 'Genre Romance': [0.5], 'Genre Drama': [0.7533333333333333], 'Genre Crime': [0.8300000000000001], 'Genre Thriller': [0.7761904761904762], 'Genre Horror': [0.7], 'Genre Mystery': [0.55], 'Genre Sci-Fi': [0.6538461538461539], 'Genre IMAX': [nan], 'Genre Documentary': [nan], 'Genre War': [0.7333333333333333], 'Genre Musical': [0.9], 'Genre Film-Noir': [nan], 'Genre Western': [0.5], 'Genre Short': [nan]}

In [86]:
# Lo convierto en un DataFrame
# fillna(0) me llena los nan como CERO
df_perfil = pd.DataFrame.from_dict(PERFIL).fillna(0)
df_perfil

,Genre Action,Genre Adventure,Genre Animation,Genre Children,Genre Comedy,Genre Fantasy,Genre Romance,Genre Drama,Genre Crime,Genre Thriller,Genre Horror,Genre Mystery,Genre Sci-Fi,Genre IMAX,Genre Documentary,Genre War,Genre Musical,Genre Film-Noir,Genre Western,Genre Short
0,0.727273,0.657143,0.9,0.3,0.635714,0.625,0.5,0.753333,0.83,0.77619,0.7,0.55,0.653846,0.0,0.0,0.733333,0.9,0.0,0.5,0.0

### Este es el perfil del usuario 75, e informa segun lo que califico cuales son los generos que estan mas cerca de su gusto.
### Ahora lo que busco es cuales son las peliculas que estan mas cerca de este usuario usando la Similitud Coseno (1 es super similar)

In [91]:
# Agarro una pelicula cualquier y me fijo que tan cerca o lejos esta de su perfil.
MOVIE = 65088
movie = df_movies.query(f"id=={MOVIE}")
columnas_genero = [c for c in df_movies.columns if c.startswith("Genre")]
A = movie[columnas_genero].values[0]
B = df_perfil[columnas_genero].values[0]
# A es la pelicula y B es el perfil del usuario

In [92]:
# El perfil
# Similaridad Coseno, mientras mas cerca del 1 mejor
np.dot(A,B) / (np.linalg.norm(A) * np.linalg.norm(B))

0.33397865808365

In [ ]:
# Ahora busco hacerlo para todas las peliculas

columnas_genero = [c for c in df_movies.columns if c.startswith("Genre")]
B = df_perfil[columnas_genero].values[0]

for index, row in df_movies.iterrows():    
    movie = df_movies.query("id == {}".format(row["id"]))

    A = movie[columnas_genero].values[0]
    #print(row["id"], np.dot(A, B) / (np.linalg.norm(A) * np.linalg.norm(B)))

#0.49472772819267147 * 5.0
# Si tomo el mayor y lo multiplico por 5, eso me da el rating.

# Tambien podria tomar las 5 con mayor rating y podria decir que esas son las 5 que mas le deberian gustar.
# No deberia mostrarle peliculas que YA vio, porque esas podrian ser muy cercanas.
# Esta tecnica me permite con 1 sola pelicula, ya empezar a recomendarle peliculas similares.

In [ ]:
# Con el pais podria hacer algo similar y decir para cada usuario que pais de pelicula prefiere. Pero quizas no haya que hacer * 5.0?
# Podria pondear los generos por 0.6 y los paises por 0.4 ...
# Como reflejar en el perfil del usuario que prefiere peliculas a partir del año 2000?
# Se podrian hacer bines por decadas. Agregar el año en el perfil, etc. 
# (año- minimoAño / maximoAño - minimoAños) los paso a CERO y UNO, y mutiplico año contra año.
# Podria incluir
# Año, directores, actores, paises, etc.

## Calculo para todos los usuarios

In [7]:
df_movies.head()

,id,title,year,imdbID,rtID,Genre Action,Genre Adventure,Genre Animation,Genre Children,Genre Comedy,...,Genre Horror,Genre Mystery,Genre Sci-Fi,Genre IMAX,Genre Documentary,Genre War,Genre Musical,Genre Film-Noir,Genre Western,Genre Short
0,1,Toy story,1995,114709,toy_story,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,1995,113497,1068044-jumanji,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpy Old Men,1993,107050,grumpy_old_men,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale,1995,114885,waiting_to_exhale,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II,1995,113041,father_of_the_bride_part_ii,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df_ratings["userID"].unique()

array([51198, 29202, 32283, ..., 62354, 62394, 62847])

In [170]:
def perfil_por_usuario(USUARIO):

    # Voy a crea el perfil de un usuario
    df_ratings_generic = df_ratings[df_ratings["userID"] == USUARIO]
    df_ratings_generic.sort_values("rating").head()
    # Ahora lo que busco es condensar sus gustos de pelicula por los generos.
    # Mergeo al rating de un usuario el perfil de cada pelicula
    df_ratings_generic = df_ratings[df_ratings["userID"] == USUARIO].merge(df_movies, left_on="movieID", right_on="id")
    df_ratings_generic.sort_values("rating").head()

    # Perfil del USER 29202, la idea es generar el perfil para los usuarios.
    # Creo PERFIL como diccionario
    PERFIL ={}
    for c in df_ratings_generic.columns:
        # Me quedo solo con las columnas que empiezan con GENRE 
        if  c.startswith("userID"):
           PERFIL[c] = [USUARIO] 
        #if not c.startswith(("Genre", "userID")):
        if not c.startswith("Genre"):
            continue
        PERFIL[c] = [df_ratings_generic.loc[df_ratings_generic[c]==1, "rating"].mean() / 5.0]


    #print(PERFIL)
    return PERFIL

In [171]:
df_perfil_full=None
USUARIO = 29202
perfil_por_usuario(USUARIO)


# Lo convierto en un DataFrame
# fillna(0) me llena los nan como CERO
#df_perfil = pd.DataFrame.from_dict(PERFIL).fillna(0)
#df_perfil.insert(0,'userID',USUARIO)

{'userID': [29202],
 'Genre Action': [0.5125],
 'Genre Adventure': [0.5031818181818182],
 'Genre Animation': [0.4470588235294118],
 'Genre Children': [0.4333333333333333],
 'Genre Comedy': [0.4436131386861314],
 'Genre Fantasy': [0.492741935483871],
 'Genre Romance': [0.5364077669902912],
 'Genre Drama': [0.5667250437828371],
 'Genre Crime': [0.5349112426035503],
 'Genre Thriller': [0.5311797752808989],
 'Genre Horror': [0.4645161290322581],
 'Genre Mystery': [0.54875],
 'Genre Sci-Fi': [0.5093567251461988],
 'Genre IMAX': [0.6],
 'Genre Documentary': [0.6533333333333333],
 'Genre War': [0.5755555555555556],
 'Genre Musical': [0.5045454545454546],
 'Genre Film-Noir': [0.4428571428571429],
 'Genre Western': [0.5565217391304348],
 'Genre Short': [nan]}

In [429]:
IDs = ['29202','75','62354']
df_addoc = df_ratings.loc[df_ratings["userID"].isin(IDs)]
df_addoc = df_ratings
df_addoc["userID"].unique()

array([51198, 29202, 32283, ..., 62354, 62394, 62847])

In [446]:

#df_perfil = pd.DataFrame.from_dict(PERFIL).fillna(0)
#df_perfil.insert(0,'userID',USUARIO)
df_full_profile = pd.DataFrame()
for g in df_addoc["userID"].unique():
    #PERFIl_FULL = perfil_por_usuario(g)
    df_full_profile = df_full_profile.append(pd.DataFrame.from_dict(perfil_por_usuario(g)).fillna(0), ignore_index=True)
    #print(df_full_profile.tail(1))

In [447]:
df_full_profile

,userID,Genre Action,Genre Adventure,Genre Animation,Genre Children,Genre Comedy,Genre Fantasy,Genre Romance,Genre Drama,Genre Crime,...,Genre Horror,Genre Mystery,Genre Sci-Fi,Genre IMAX,Genre Documentary,Genre War,Genre Musical,Genre Film-Noir,Genre Western,Genre Short
0,51198,0.783824,0.798000,0.788889,0.766667,0.779000,0.796667,0.810811,0.833028,0.865116,...,0.728571,0.804762,0.784211,0.9,0.883333,0.816667,0.840000,0.800000,0.733333,0.0
1,29202,0.512500,0.503182,0.447059,0.433333,0.443613,0.492742,0.536408,0.566725,0.534911,...,0.464516,0.548750,0.509357,0.6,0.653333,0.575556,0.504545,0.442857,0.556522,0.0
2,32283,0.687004,0.694545,0.806452,0.758333,0.694751,0.694805,0.723832,0.739817,0.728571,...,0.662162,0.742857,0.656566,0.8,0.828571,0.721212,0.700000,0.800000,0.769565,0.0
3,36495,0.673034,0.677551,0.763636,0.742857,0.764198,0.631579,0.740541,0.755914,0.767241,...,0.800000,0.725000,0.640000,0.0,0.500000,0.762500,0.800000,1.000000,0.600000,0.0
4,28350,0.653191,0.666667,0.705769,0.658915,0.632463,0.656180,0.670940,0.669822,0.635714,...,0.429412,0.615000,0.597561,0.8,0.000000,0.684211,0.641667,0.700000,0.635294,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108,61985,0.749457,0.742424,0.746154,0.733333,0.709677,0.738095,0.731579,0.761538,0.735849,...,0.738095,0.816216,0.741509,0.9,0.800000,0.768421,0.685714,0.750000,0.725000,0.0
2109,62042,0.583333,0.693333,0.690000,0.693333,0.601818,0.685714,0.659375,0.763265,0.671429,...,0.566667,0.700000,0.516667,0.0,0.000000,0.850000,0.638462,0.000000,0.800000,0.0
2110,62354,0.827273,0.821429,0.820000,0.840000,0.726316,0.888889,0.768750,0.809677,0.900000,...,0.660000,0.700000,0.840000,0.0,0.000000,0.750000,0.733333,1.000000,0.700000,0.0
2111,62394,0.607477,0.619178,0.628571,0.561111,0.557534,0.613889,0.611667,0.684817,0.708696,...,0.631373,0.664706,0.516364,0.9,0.500000,0.737037,0.650000,0.733333,0.607692,0.0
2112,62847,0.697917,0.711111,0.833333,0.700000,0.685455,0.654545,0.736585,0.741975,0.776923,...,0.642857,0.833333,0.672727,0.0,0.700000,0.814286,0.780000,0.900000,0.725000,0.0

## En df_full_profile tengo el perfil de todos los usuarios y cada linea representa segun lo que califico un usuario que generos estan mas cerca o mas lejos de sus preferencia.
## Ahora lo que busco es cuales son las peliculas que estan mas cerca de casa usuario usando la Similitud Coseno (1 es super similar)

In [467]:
df_movies_adDoc = df_movies[0:20]

In [468]:
# Dado un perfil de usuario, veo que pelicula es la mas afin a sus votaciones.

def pelicula_afin_a_perfil(userID, B, list_profile):
    columnas_genero = [c for c in df_movies_adDoc.columns if c.startswith("Genre")]
    
    similarityC_base=0
    movieID = 0
    for index, row in (df_movies_adDoc.iterrows()):    
        movie = df_movies_adDoc.query("id == {}".format(row["id"]))
        A = movie[columnas_genero].values[0]
        similarityC = np.dot(A, B) / (np.linalg.norm(A) * np.linalg.norm(B))
        if (similarityC_base < simCosin):
            similarityC_base = simCosin
            movieID = row["id"]
        #RANKING[index] = [row["id"], simCosin]
    
    user_row = dict()
    user_row["userID"] = userID
    user_row["movieID"] = row["id"]
    user_row["similarityC"] = similarityC_base
    list_profile.append(user_row)
    return list_profile

In [421]:
#print("movieID:", movieID, "simCosin: ",simCosin_base)

In [419]:
#df_perfil[columnas_genero].values[0]

In [420]:
#COUNT=1
## iloc[row slicing, column slicing]
#B=df_full_profile.iloc[COUNT-1:COUNT, 1:].values[0]
#B

In [427]:
#USER = "51198"
#column_names = ["userID","movieID", "simCos"]
#df_profile_movieSelection = pd.DataFrame(columns = column_names)
#df_profile_movieSelection = []
#pelicula_afin_a_perfil(USER,B,df_profile_movieSelection)

9it [00:00, 157.44it/s]0.49912149585718957

[{'userID': '51198', 'movieID': 9, 'simCos': 0.49912149585718957}]

In [464]:
df_profile_movieSelection = []
COUNT=1
for g in tqdm_notebook(df_full_profile["userID"].unique()):
    B=df_full_profile.iloc[COUNT-1:COUNT, 1:].values[0]
    pelicula_afin_a_perfil(g,B,df_profile_movieSelection)
    COUNT=COUNT+1

HBox(children=(FloatProgress(value=0.0, max=2113.0), HTML(value='')))

In [465]:
#df_profile_movieSelection
dataset = pd.DataFrame(df_profile_movieSelection)

7983474454},
 {'userID': 68393, 'movieID': 9, 'simCos': 0.5413912514048348},
 {'userID': 68424, 'movieID': 9, 'simCos': 0.5442218924462051},
 {'userID': 68829, 'movieID': 9, 'simCos': 0.505504465028736},
 {'userID': 68947, 'movieID': 9, 'simCos': 0.4588278829319902},
 {'userID': 69153, 'movieID': 9, 'simCos': 0.49332820359308666},
 {'userID': 69716, 'movieID': 9, 'simCos': 0.5150577737637642},
 {'userID': 70313, 'movieID': 9, 'simCos': 0.5334050879803173},
 {'userID': 70369, 'movieID': 9, 'simCos': 0.5103523369443143},
 {'userID': 70525, 'movieID': 9, 'simCos': 0.5311788270011929},
 {'userID': 70542, 'movieID': 9, 'simCos': 0.5437679957029553},
 {'userID': 70981, 'movieID': 9, 'simCos': 0.5292066392962351},
 {'userID': 71478, 'movieID': 9, 'simCos': 0.5246029105055355},
 {'userID': 175, 'movieID': 9, 'simCos': 0.5292409307100597},
 {'userID': 325, 'movieID': 9, 'simCos': 0.5113305982164427},
 {'userID': 637, 'movieID': 9, 'simCos': 0.5363865253112835},
 {'userID': 1547, 'movieID': 9, 'simCos': 0.507215911500349},
 {'userID': 1751, 'movieID': 9, 'simCos': 0.5363446124074911},
 {'userID': 1988, 'movieID': 9, 'simCos': 0.5205507189267584},
 {'userID': 2053, 'movieID': 9, 'simCos': 0.5214739763240615},
 {'userID': 2315, 'movieID': 9, 'simCos': 0.5294115888173704},
 {'userID': 2658, 'movieID': 9, 'simCos': 0.5650363103121795},
 {'userID': 2801, 'movieID': 9, 'simCos': 0.4934348215380926},
 {'userID': 2891, 'movieID': 9, 'simCos': 0.5016074678450345},
 {'userID': 2930, 'movieID': 9, 'simCos': 0.4832992053999203},
 {'userID': 3104, 'movieID': 9, 'simCos': 0.5360168980644696},
 {'userID': 3304, 'movieID': 9, 'simCos': 0.5607748175422577},
 {'userID': 3313, 'movieID': 9, 'simCos': 0.5149684667674786},
 {'userID': 3853, 'movieID': 9, 'simCos': 0.5161549044694546},
 {'userID': 3860, 'movieID': 9, 'simCos': 0.48535252139591584},
 {'userID': 3976, 'movieID': 9, 'simCos': 0.5288071901456938},
 {'userID': 4022, 'movieID': 9, 'simCos': 0.5192610033036633},
 {'userID': 4827, 'movieID': 9, 'simCos': 0.5090938143456414},
 {'userID': 4856, 'movieID': 9, 'simCos': 0.5615184536960695},
 {'userID': 4895, 'movieID': 9, 'simCos': 0.4779179081764554},
 {'userID': 5285, 'movieID': 9, 'simCos': 0.4792036529937835},
 {'userID': 5757, 'movieID': 9, 'simCos': 0.5214813166861623},
 {'userID': 5831, 'movieID': 9, 'simCos': 0.6654100090174755},
 {'userID': 5954, 'movieID': 9, 'simCos': 0.4765764057627359},
 {'userID': 5978, 'movieID': 9, 'simCos': 0.48534455970350887},
 {'userID': 6018, 'movieID': 9, 'simCos': 0.5174949286592443},
 {'userID': 6323, 'movieID': 9, 'simCos': 0.5680922896138831},
 {'userID': 6362, 'movieID': 9, 'simCos': 0.5263208406171105},
 {'userID': 6385, 'movieID': 9, 'simCos': 0.5085069925469883},
 {'userID': 6393, 'movieID': 9, 'simCos': 0.4792330101948372},
 {'userID': 6400, 'movieID': 9, 'simCos': 0.5043909539433573},
 {'userID': 6477, 'movieID': 9, 'simCos': 0.4840326294499849},
 {'userID': 6532, 'movieID': 9, 'simCos': 0.556726591293426},
 {'userID': 6550, 'movieID': 9, 'simCos': 0.5169224227501448},
 {'userID': 6571, 'movieID': 9, 'simCos': 0.4498566388859523},
 {'userID': 6785, 'movieID': 9, 'simCos': 0.5353962791848174},
 {'userID': 7287, 'movieID': 9, 'simCos': 0.5153668976535805},
 {'userID': 7315, 'movieID': 9, 'simCos': 0.5035936273976944},
 {'userID': 7815, 'movieID': 9, 'simCos': 0.5005261861856248},
 {'userID': 8041, 'movieID': 9, 'simCos': 0.544434214331829},
 {'userID': 8423, 'movieID': 9, 'simCos': 0.45266262612011077},
 {'userID': 8434, 'movieID': 9, 'simCos': 0.5466028758494124},
 {'userID': 8699, 'movieID': 9, 'simCos': 0.47796529981828},
 {'userID': 8893, 'movieID': 9, 'simCos': 0.6242126254415103},
 {'userID': 8930, 'movieID': 9, 'simCos': 0.5076305153942816},
 {'userID': 9245, 'movieID': 9, 'simCos': 0.4978103621532094},
 {'userID': 9370, 'movieID': 9, 'simCos': 0.4852728581831152},
 {'userID': 9475, 'movieID': 9, 'simCos': 0.5479733662225919},
 {'userID': 10084, 'movieID': 9, 'simCos': 0.5733055798169369},
 {'userID': 10094, 'movieID': 9, 'simCos': 0.549574493627199},
 {'userID': 10125, 'movieID': 9, 'simCos': 0.43082150230525595},
 {'userID': 10154, 'movieID': 9, 'simCos': 0.5978113396116724},
 {'userID': 10181, 'movieID': 9, 'simCos': 0.5665540091896392},
 {'userID': 10200, 'movieID': 9, 'simCos': 0.49981752157093134},
 {'userID': 10272, 'movieID': 9, 'simCos': 0.49786024614406865},
 {'userID': 10335, 'movieID': 9, 'simCos': 0.6200549632902737},
 {'userID': 10479, 'movieID': 9, 'simCos': 0.457220214452312},
 {'userID': 10521, 'movieID': 9, 'simCos': 0.5598921208140897},
 {'userID': 10639, 'movieID': 9, 'simCos': 0.5016178978986586},
 {'userID': 10936, 'movieID': 9, 'simCos': 0.5007658900269266},
 {'userID': 11188, 'movieID': 9, 'simCos': 0.5033308093259223},
 {'userID': 11457, 'movieID': 9, 'simCos': 0.6742390395495568},
 {'userID': 11554, 'movieID': 9, 'simCos': 0.478878915126268},
 {'userID': 11577, 'movieID': 9, 'simCos': 0.5042332523572418},
 {'userID': 11802, 'movieID': 9, 'simCos': 0.48609066487574565},
 {'userID': 11937, 'movieID': 9, 'simCos': 0.5220585721693489},
 {'userID': 12028, 'movieID': 9, 'simCos': 0.4716928540116222},
 {'userID': 12051, 'movieID': 9, 'simCos': 0.5183582673002398},
 {'userID': 12126, 'movieID': 9, 'simCos': 0.508831639220016},
 {'userID': 12259, 'movieID': 9, 'simCos': 0.5189187753116914},
 {'userID': 12356, 'movieID': 9, 'simCos': 0.4732084855477417},
 {'userID': 12451, 'movieID': 9, 'simCos': 0.5249483262693942},
 {'userID': 12459, 'movieID': 9, 'simCos': 0.5083405391148241},
 {'userID': 12554, 'movieID': 9, 'simCos': 0.4814590006504149},
 {'userID': 12622, 'movieID': 9, 'simCos': 0.5421749995368685},
 {'userID': 12760, 'movieID': 9, 'simCos': 0.5114060479645268},
 {'userID': 12818, 'movieID': 9, 'simCos': 0.5261460950806349},
 {'userID': 12888, 'movieID': 9, 'simCos': 0.5872886070167819},
 {'userID': 12921, 'movieID': 9, 'simCos': 0.5423744537026233},
 {'userID': 13029, 'movieID': 9, 'simCos': 0.5183567785414801},
 {'userID': 13048, 'movieID': 9, 'simCos': 0.5124695467525667},
 {'userID': 13086, 'movieID': 9, 'simCos': 0.5332805204268827},
 {'userID': 13159, 'movieID': 9, 'simCos': 0.5648977418790189},
 {'userID': 13216, 'movieID': 9, 'simCos': 0.5217651075140163},
 {'userID': 13222, 'movieID': 9, 'simCos': 0.5408908495876364},
 {'userID': 13230, 'movieID': 9, 'simCos': 0.5760599404873313},
 {'userID': 13233, 'movieID': 9, 'simCos': 0.5963167074290242},
 {'userID': 13257, 'movieID': 9, 'simCos': 0.5221556465391061},
 {'userID': 13266, 'movieID': 9, 'simCos': 0.6152735103394452},
 {'userID': 13397, 'movieID': 9, 'simCos': 0.5265110060887773},
 {'userID': 13454, 'movieID': 9, 'simCos': 0.5222932573066168},
 {'userID': 13472, 'movieID': 9, 'simCos': 0.47795305206768157},
 {'userID': 13716, 'movieID': 9, 'simCos': 0.5036399465140122},
 {'userID': 13914, 'movieID': 9, 'simCos': 0.5203311618836016},
 {'userID': 13897, 'movieID': 9, 'simCos': 0.468639260207093},
 {'userID': 13970, 'movieID': 9, 'simCos': 0.5731489361086762},
 {'userID': 14099, 'movieID': 9, 'simCos': 0.5436350101100963},
 {'userID': 14246, 'movieID': 9, 'simCos': 0.4688224849708941},
 {'userID': 14421, 'movieID': 9, 'simCos': 0.5532943217866643},
 {'userID': 14531, 'movieID': 9, 'simCos': 0.5591254868231262},
 {'userID': 14709, 'movieID': 9, 'simCos': 0.652269614896031},
 {'userID': 14979, 'movieID': 9, 'simCos': 0.548758903563011},
 {'userID': 15061, 'movieID': 9, 'simCos': 0.4970401334516599},
 {'userID': 15157, 'movieID': 9, 'simCos': 0.5348928848863622},
 {'userID': 15168, 'movieID': 9, 'simCos': 0.49413284360582704},
 {'userID': 15436, 'movieID': 9, 'simCos': 0.5274210188585343},
 {'userID': 15715, 'movieID': 9, 'simCos': 0.5772973799948989},
 {'userID': 15780, 'movieID': 9, 'simCos': 0.49087411475521137},
 {'userID': 15811, 'movieID': 9, 'simCos': 0.5007980992411148},
 {'userID': 15853, 'movieID': 9, 'simCos': 0.507179842087872},
 {'userID': 15896, 'movieID': 9, 'simCos': 0.5847993946627604},
 {'userID': 15926, 'movieID': 9, 'simCos': 0.5884765667590283},
 {'userID': 15974, 'movieID': 9, 'simCos': 0.4910957647204649},
 {'userID': 16103, 'movieID': 9, 'simCos': 0.4883466834892471},
 {'userID': 16123, 'movieID': 9, 'simCos': 0.6120354336063458},
 {'userID': 16149, 'movieID': 9, 'simCos': 0.5138915260308038},
 {'userID': 16289, 'movieID': 9, 'simCos': 0.5790039246673173},
 {'userID': 16419, 'movieID': 9, 'simCos': 0.5143166965500066},
 {'userID': 16485, 'movieID': 9, 'simCos': 0.561411522385129},
 {'userID': 16574, 'movieID': 9, 'simCos': 0.4608536755621548},
 {'userID': 16591, 'movieID': 9, 'simCos': 0.5604000854131971},
 {'userID': 16610, 'movieID': 9, 'simCos': 0.5067152829384549},
 {'userID': 8282, 'movieID': 9, 'simCos': 0.5924748120301662},
 {'userID': 16850, 'movieID': 9, 'simCos': 0.45779291326255106},
 {'userID': 16862, 'movieID': 9, 'simCos': 0.5515454216618494},
 {'userID': 17260, 'movieID': 9, 'simCos': 0.43618085523475253},
 {'userID': 17312, 'movieID': 9, 'simCos': 0.5199731167818497},
 {'userID': 17461, 'movieID': 9, 'simCos': 0.6922804146677385},
 {'userID': 17647, 'movieID': 9, 'simCos': 0.557546597092502},
 {'userID': 17738, 'movieID': 9, 'simCos': 0.7084901349720274},
 {'userID': 17930, 'movieID': 9, 'simCos': 0.5229508519773203},
 {'userID': 18114, 'movieID': 9, 'simCos': 0.5023953882383883},
 {'userID': 18434, 'movieID': 9, 'simCos': 0.473370307864637},
 {'userID': 18461, 'movieID': 9, 'simCos': 0.5556635904245322},
 {'userID': 18510, 'movieID': 9, 'simCos': 0.525763261352245},
 {'userID': 18687, 'movieID': 9, 'simCos': 0.5164821533324171},
 {'userID': 18742, 'movieID': 9, 'simCos': 0.6315947443108967},
 {'userID': 18797, 'movieID': 9, 'simCos': 0.5283568675587821},
 {'userID': 19054, 'movieID': 9, 'simCos': 0.5696115437338403},
 {'userID': 19402, 'movieID': 9, 'simCos': 0.5413370661010015},
 {'userID': 19493, 'movieID': 9, 'simCos': 0.5823015236542752},
 {'userID': 19519, 'movieID': 9, 'simCos': 0.5013476506838281},
 {'userID': 19532, 'movieID': 9, 'simCos': 0.5348488828097442},
 {'userID': 19668, 'movieID': 9, 'simCos': 0.5443191086635023},
 {'userID': 19742, 'movieID': 9, 'simCos': 0.5060278602921842},
 {'userID': 19820, 'movieID': 9, 'simCos': 0.5253903194857957},
 {'userID': 19854, 'movieID': 9, 'simCos': 0.4686618307173379},
 {'userID': 19864, 'movieID': 9, 'simCos': 0.5163563681311247},
 {'userID': 19885, 'movieID': 9, 'simCos': 0.5358636404994254},
 {'userID': 19909, 'movieID': 9, 'simCos': 0.4466208352491306},
 {'userID': 19986, 'movieID': 9, 'simCos': 0.5160217837389381},
 {'userID': 20189, 'movieID': 9, 'simCos': 0.5830318139355964},
 {'userID': 20348, 'movieID': 9, 'simCos': 0.5159694699026706},
 {'userID': 20606, 'movieID': 9, 'simCos': 0.5187450440150204},
 {'userID': 20734, 'movieID': 9, 'simCos': 0.6162782547702002},
 {'userID': 20758, 'movieID': 9, 'simCos': 0.5136589185158736},
 {'userID': 21184, 'movieID': 9, 'simCos': 0.5623443718611126},
 {'userID': 21655, 'movieID': 9, 'simCos': 0.4950925464983769},
 {'userID': 22278, 'movieID': 9, 'simCos': 0.5412772423930154},
 {'userID': 22453, 'movieID': 9, 'simCos': 0.6212031321265489},
 {'userID': 22461, 'movieID': 9, 'simCos': 0.55153679777697},
 {'userID': 22701, 'movieID': 9, 'simCos': 0.5700884709026117},
 {'userID': 22798, 'movieID': 9, 'simCos': 0.5183051484407335},
 {'userID': 23561, 'movieID': 9, 'simCos': 0.5084546510277217},
 {'userID': 23647, 'movieID': 9, 'simCos': 0.4881904742865412},
 {'userID': 23717, 'movieID': 9, 'simCos': 0.4924888220756008},
 {'userID': 23850, 'movieID': 9, 'simCos': 0.5347002004756091},
 {'userID': 23865, 'movieID': 9, 'simCos': 0.6186137479706719},
 {'userID': 23910, 'movieID': 9, 'simCos': 0.5522397611607464},
 {'userID': 23953, 'movieID': 9, 'simCos': 0.48320839774610136},
 {'userID': 24014, 'movieID': 9, 'simCos': 0.5229323986321827},
 {'userID': 24039, 'movieID': 9, 'simCos': 0.43956206651605356},
 {'userID': 24132, 'movieID': 9, 'simCos': 0.43666583135188264},
 {'userID': 24263, 'movieID': 9, 'simCos': 0.5062422558374395},
 {'userID': 24423, 'movieID': 9, 'simCos': 0.5480622353543322},
 {'userID': 24476, 'movieID': 9, 'simCos': 0.5258049130669533},
 {'userID': 24573, 'movieID': 9, 'simCos': 0.4382580796330979},
 {'userID': 24592, 'movieID': 9, 'simCos': 0.5348177603452603},
 {'userID': 24708, 'movieID': 9, 'simCos': 0.5156091203028301},
 {'userID': 24885, 'movieID': 9, 'simCos': 0.5057675853377621},
 {'userID': 25097, 'movieID': 9, 'simCos': 0.6373399221805198},
 {'userID': 25248, 'movieID': 9, 'simCos': 0.5011826354694835},
 {'userID': 25388, 'movieID': 9, 'simCos': 0.4936690397969404},
 {'userID': 25730, 'movieID': 9, 'simCos': 0.5064370952946025},
 {'userID': 25913, 'movieID': 9, 'simCos': 0.5197141791269044},
 {'userID': 26243, 'movieID': 9, 'simCos': 0.5755951092151604},
 {'userID': 26356, 'movieID': 9, 'simCos': 0.4838574675892772},
 {'userID': 26589, 'movieID': 9, 'simCos': 0.5152513664831008},
 {'userID': 26733, 'movieID': 9, 'simCos': 0.6833360497632276},
 {'userID': 26873, 'movieID': 9, 'simCos': 0.5552379996041757},
 {'userID': 27115, 'movieID': 9, 'simCos': 0.5108459381783582},
 {'userID': 27164, 'movieID': 9, 'simCos': 0.5232274442549693},
 {'userID': 27238, 'movieID': 9, 'simCos': 0.5536947189108451},
 {'userID': 27297, 'movieID': 9, 'simCos': 0.5854800032831393},
 {'userID': 27350, 'movieID': 9, 'simCos': 0.5468703460980695},
 {'userID': 27620, 'movieID': 9, 'simCos': 0.5333537782069935},
 {'userID': 27648, 'movieID': 9, 'simCos': 0.4754411341161415},
 {'userID': 27778, 'movieID': 9, 'simCos': 0.5126811866023491},
 {'userID': 28039, 'movieID': 9, 'simCos': 0.49137536375363194},
 {'userID': 28048, 'movieID': 9, 'simCos': 0.5137433250081263},
 {'userID': 28292, 'movieID': 9, 'simCos': 0.465885222370098},
 {'userID': 28299, 'movieID': 9, 'simCos': 0.5222382113454281},
 {'userID': 28342, 'movieID': 9, 'simCos': 0.5596492365308413},
 {'userID': 28508, 'movieID': 9, 'simCos': 0.5034990169011738},
 {'userID': 28665, 'movieID': 9, 'simCos': 0.4342513710657974},
 {'userID': 28842, 'movieID': 9, 'simCos': 0.40265224564787827},
 {'userID': 28830, 'movieID': 9, 'simCos': 0.4502549684558457},
 {'userID': 29421, 'movieID': 9, 'simCos': 0.515066445736519},
 {'userID': 29435, 'movieID': 9, 'simCos': 0.44685318538714464},
 {'userID': 29501, 'movieID': 9, 'simCos': 0.49838808304146853},
 {'userID': 29508, 'movieID': 9, 'simCos': 0.46874730110843005},
 {'userID': 29538, 'movieID': 9, 'simCos': 0.44447298579061917},
 {'userID': 29616, 'movieID': 9, 'simCos': 0.44778031245108624},
 {'userID': 29658, 'movieID': 9, 'simCos': 0.5126176197486565},
 {'userID': 29948, 'movieID': 9, 'simCos': 0.4281940325053478},
 {'userID': 30465, 'movieID': 9, 'simCos': 0.44314262612220334},
 {'userID': 30490, 'movieID': 9, 'simCos': 0.5612936864850632},
 {'userID': 30687, 'movieID': 9, 'simCos': 0.5236278873278554},
 {'userID': 30836, 'movieID': 9, 'simCos': 0.4866202989170148},
 {'userID': 30879, 'movieID': 9, 'simCos': 0.48182283383614855},
 {'userID': 30886, 'movieID': 9, 'simCos': 0.495715192216572},
 {'userID': 30897, 'movieID': 9, 'simCos': 0.49943123555149116},
 {'userID': 30938, 'movieID': 9, 'simCos': 0.5309886153793709},
 {'userID': 31088, 'movieID': 9, 'simCos': 0.5586084805323381},
 {'userID': 31098, 'movieID': 9, 'simCos': 0.45049629952090214},
 {'userID': 31104, 'movieID': 9, 'simCos': 0.5104628797106787},
 {'userID': 31156, 'movieID': 9, 'simCos': 0.5883032068479819},
 {'userID': 31209, 'movieID': 9, 'simCos': 0.44411723712865947},
 {'userID': 31317, 'movieID': 9, 'simCos': 0.577181896835106},
 {'userID': 31523, 'movieID': 9, 'simCos': 0.4713234565567379},
 {'userID': 31789, 'movieID': 9, 'simCos': 0.53818801955975},
 {'userID': 31854, 'movieID': 9, 'simCos': 0.4702401251525999},
 {'userID': 31911, 'movieID': 9, 'simCos': 0.6321190756271179},
 {'userID': 31949, 'movieID': 9, 'simCos': 0.5357816885105958},
 {'userID': 32031, 'movieID': 9, 'simCos': 0.5386059507801216},
 {'userID': 32369, 'movieID': 9, 'simCos': 0.5508043481906756},
 {'userID': 32406, 'movieID': 9, 'simCos': 0.5020844325634536},
 {'userID': 32831, 'movieID': 9, 'simCos': 0.41170075318278393},
 {'userID': 33052, 'movieID': 9, 'simCos': 0.5455154785686847},
 {'userID': 33285, 'movieID': 9, 'simCos': 0.5210533636024809},
 {'userID': 33481, 'movieID': 9, 'simCos': 0.5925161904301111},
 {'userID': 33528, 'movieID': 9, 'simCos': 0.5018117744076253},
 {'userID': 33579, 'movieID': 9, 'simCos': 0.48178482471096273},
 {'userID': 33780, 'movieID': 9, 'simCos': 0.4962094407444921},
 {'userID': 33797, 'movieID': 9, 'simCos': 0.5697245562969684},
 {'userID': 34225, 'movieID': 9, 'simCos': 0.480703457986919},
 {'userID': 34405, 'movieID': 9, 'simCos': 0.5606516199012207},
 {'userID': 34671, 'movieID': 9, 'simCos': 0.4815284276653563},
 {'userID': 34680, 'movieID': 9, 'simCos': 0.488738314600015},
 {'userID': 34704, 'movieID': 9, 'simCos': 0.5725940829027497},
 {'userID': 34713, 'movieID': 9, 'simCos': 0.588973749798173},
 {'userID': 34796, 'movieID': 9, 'simCos': 0.47233275994035523},
 {'userID': 34958, 'movieID': 9, 'simCos': 0.49524295395996043},
 {'userID': 35002, 'movieID': 9, 'simCos': 0.5103181952466518},
 {'userID': 35051, 'movieID': 9, 'simCos': 0.5093485802362744},
 {'userID': 383, 'movieID': 9, 'simCos': 0.5511596718398643},
 {'userID': 35141, 'movieID': 9, 'simCos': 0.5698025032637388},
 {'userID': 35160, 'movieID': 9, 'simCos': 0.5323349100618364},
 {'userID': 35408, 'movieID': 9, 'simCos': 0.42763423074624446},
 {'userID': 35665, 'movieID': 9, 'simCos': 0.5240969713065328},
 {'userID': 35703, 'movieID': 9, 'simCos': 0.4824217478388619},
 {'userID': 36063, 'movieID': 9, 'simCos': 0.5132686494375319},
 {'userID': 36527, 'movieID': 9, 'simCos': 0.608136927036166},
 {'userID': 36655, 'movieID': 9, 'simCos': 0.5404889897240175},
 {'userID': 36719, 'movieID': 9, 'simCos': 0.5259999398018953},
 {'userID': 36802, 'movieID': 9, 'simCos': 0.5385183513145512},
 {'userID': 36937, 'movieID': 9, 'simCos': 0.5110330368885325},
 {'userID': 36969, 'movieID': 9, 'simCos': 0.48216009358568657},
 {'userID': 37195, 'movieID': 9, 'simCos': 0.45466121491219613},
 {'userID': 37216, 'movieID': 9, 'simCos': 0.5392389820470155},
 {'userID': 37225, 'movieID': 9, 'simCos': 0.5354635873909955},
 {'userID': 37321, 'movieID': 9, 'simCos': 0.5690562407845385},
 {'userID': 37713, 'movieID': 9, 'simCos': 0.469767304253131},
 {'userID': 37782, 'movieID': 9, 'simCos': 0.5208102780393542},
 {'userID': 37857, 'movieID': 9, 'simCos': 0.5433248950376607},
 {'userID': 38256, 'movieID': 9, 'simCos': 0.47780596917241247},
 {'userID': 38646, 'movieID': 9, 'simCos': 0.5633928826952137},
 {'userID': 38664, 'movieID': 9, 'simCos': 0.5102942541017981},
 {'userID': 38722, 'movieID': 9, 'simCos': 0.44635586393600835},
 {'userID': 38740, 'movieID': 9, 'simCos': 0.48584637877316994},
 {'userID': 39033, 'movieID': 9, 'simCos': 0.5739772237530805},
 {'userID': 39177, 'movieID': 9, 'simCos': 0.4978252326479637},
 {'userID': 39282, 'movieID': 9, 'simCos': 0.5031244419349264},
 {'userID': 39362, 'movieID': 9, 'simCos': 0.4563168838697884},
 {'userID': 39390, 'movieID': 9, 'simCos': 0.5083430990340398},
 {'userID': 39463, 'movieID': 9, 'simCos': 0.5299006461491605},
 {'userID': 39513, 'movieID': 9, 'simCos': 0.5079902886623209},
 {'userID': 39524, 'movieID': 9, 'simCos': 0.5351532013785654},
 {'userID': 39677, 'movieID': 9, 'simCos': 0.5379999351138176},
 {'userID': 39799, 'movieID': 9, 'simCos': 0.5156645246260082},
 {'userID': 40033, 'movieID': 9, 'simCos': 0.5691270211568777},
 {'userID': 40457, 'movieID': 9, 'simCos': 0.6346526393454442},
 {'userID': 40703, 'movieID': 9, 'simCos': 0.5570284738068643},
 {'userID': 40827, 'movieID': 9, 'simCos': 0.5139707551735925},
 {'userID': 41066, 'movieID': 9, 'simCos': 0.488622868161749},
 {'userID': 41103, 'movieID': 9, 'simCos': 0.5694474030810507},
 {'userID': 41468, 'movieID': 9, 'simCos': 0.5003121029375347},
 {'userID': 41726, 'movieID': 9, 'simCos': 0.4981369353348282},
 {'userID': 41859, 'movieID': 9, 'simCos': 0.5372839407067761},
 ...]